@import '~antd/dist/antd.css';

$background: #1C1C1C;
$textColor: #D3D3D3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $background;
    color: $textColor;
}

.App{
    height: 100vh;
    padding: 2rem;
}