.home{
	header{
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;

		.icon-github{
			font-size: 8rem;
			margin-bottom: 2rem;
		}

		div{
			text-align: center;
		}
	}

	.content-home{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		padding: 2.5rem 0;
	}
}